<a href="https://colab.research.google.com/github/hyejin9912/class2021Fall/blob/main/1108%20syntax%20%ED%95%84%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = [1, 2, 3, 4]
for i in a:
    print(i)

1
2
3
4

for i in a:

for 쓰고 in 쓰고 a 에는 리스트가 있어야 함. 이게 i로 받아져서 여러 번 도는 것.

for 없이

print(a[0])->1이 나올 것. 

print(a[0])

print(a[1])

print(a[2])

print(a[3]) 

이러면
1 2 3 4 찍힐 것.

그런데 이게 숫자가 엄청 많으면 다 적어줄 수 없음. 근데 이게 패턴이 같다. 이럴 때 for를 쓰는 것. 

for    in    :

  print

이게 기본 개형. 이게 문법이다. 이 틀만 지키면 됨.

a에 있는 것들에서 첫 번째 것부터 가장 마지막 것까지 i라는 변수에 넣어라. 이게 계속 도는 것. a 리스트 안에 있는 개수만큼 돈다.

for loop라고 함. 

만약 

print(i)
print(i+1)이라 하면?

12233445 이렇게 찍힘. 

인덴테이션은 for 밑에 반복되는 것들이다라는 약속임.  

인덴테이션 빼면 반복이 안되고 가장 마지막 것만 나옴. 인덴테이션은 for에 한정이 되어있다는 약속이다.

In [6]:
#인덴테이션이 없는 경우의 예시
a = [1,2,3,4]
for i in a:
    print(i)
print(i+1)
print('hello')

1
2
3
4
5
hello

인덴테이션의 유무에 따른 차이. 

for 밑이 아닌 경우는 그냥 아래에 

print ('hello') 치면 됨


print ('hello')에도 인덴테이션 넣으면 

ex) 
a = [1,2,3,4]

for i in a:

  print(i)

  print('hello')
  
--> 1 hello 2 hello 3 hello 4 helllo

이렇게 나옴.

In [7]:
#a = [1, 2, 3, 4]
for i in range(4) :
  print(i)

0
1
2
3

a를 이렇게도 표현할 수 있음. 

아까는 코드를 a에 있는 것을 처음부터 i로 받아서 반복해서 실행해라

이렇게 했는데 

이번에는 나는 a를 받지 않고 숫자를 만들겠다라고 해보자. 

# a = [1, 2, 3, 4]
for i in range(4) :
  print(i)

그럼 여기에 range (4)를 하면 0,1,2,3이 만들어짐.

인덱스의 range가 만들어짐.

a 다시 살리면

In [9]:
a = [1, 2, 3, 4]
for i in range(4) :
  print(a[i])

1
2
3
4

range 4가 되면 0,1,2,3이 만들어짐. 

4번 도는 것. 0을 i에 넣고 한 번 돌고, 1을 i에 넣고 한 번 돌고 이렇게. 

그러면 a의 0번째: 1 이렇게 쭉쭉 나옴. 

range( )에 a의 길이가 4개니까 총 리스트의 길이라 4로 적음.

range(3)이라 적으면 1,2,3 나오는데 
range(5)는 없는 부분이니까 오류뜸. 


아래를 보자.

In [ ]:
a = [1, 2, 3, 4]
for i in range(len(a)):
    print(a[i])

1
2
3
4

len 이라는 함수를 보면 a를 넣으면 리스트의 길이를 찾아줌. 

그러면 len(a)가 4가 됨.

In [ ]:
a = ['red', 'green', 'blue', 'purple']
for i in a:
    print(i)

red
green
blue
purple

이것도 똑같음.

In [ ]:
a = ['red', 'green', 'blue', 'purple']
for i in range(len(a)):
    print(a[i])

red
green
blue
purple

여기 len(a)는 4가 될 것.

In [ ]:
a = 0
if a == 0:
    print(a)
else:
    print(a+1)

0

if

a=0이 들어가있음. 
여기도 마찬가지로 if 랑 else 밑에 인덴트 넣어주면 됨. 

if도 else도 끝에 : 넣어줘야 함

if a가 0과 같으면 

==(두 개 쓰면 같다는 뜻)

print a를 하라. 

그렇지 않으면, pritn (a+1)을 하라.

In [ ]:
for i in range(1, 3):
    for j in range(3, 5):
        print(i*j)

3
4
6
8

list comprehension

In [ ]:
for i in range(1, 3):
    for j in range(3, 5):
        if j >=4:
            print(i*j)

4
8

In [ ]:
a = [1, 2, 3, 4]
b = [i for i in a if i >=2]
b

[2, 3, 4]

In [ ]:
a = ['red', 'green', 'blue', 'purple']
b = [i for i in a if len(i) >=4]
b

['green', 'blue', 'purple']